@layer base, utils, media;
@layer base {
  :root {
    --main-bg: #39c674;
    --dark-bg: #47e388;
    --start-angle: 65deg;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  #app {
    background-color: var(--main-bg);
    display: flex;
    justify-content: center;
    height: 100%;
  }
  body {
    overflow: hidden;
    height: 100vh;
  }
  header {
    position: absolute;
    top: 0;
    width: 90%;
    align-items: center;
    align-self: center;
    display: flex;
    justify-content: space-between;
  }
  button {
    margin: 5px;
    cursor: pointer;
    background-color: white;
    border: var(--main-bg) 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
  }
}
